<h1>
  Add a new company
</h1>

<hr>

<%= render("company_templates/validation_failures.html.erb") %>

<form action="/insert_company_record" method="post">
  <div>
    <label for="name">
      Name
    </label>

    <input type="text" id="name" name="name" value="<%= @company.name %>">
  </div>

  <button>
    Create company
  </button>
</form>

<hr>

<a href="/companies">
  Go back
</a>
